
#appeal {
    color:white;
    display: inline-block;
    margin: 10px auto 5px 20px;
}

#reviewForm {
    margin-left: 3.6vw;
    background-color: black;
    margin-bottom: 5vh;
    width: 42.5%;
    height: 35vh;
    min-width: 200px;
    float: left;
    border-radius: 4px;
    /**/
    
}

#guest_form {
    margin-top: 10%;
    margin-left: 5%;
    width: 100px;
    height: 16vh;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}

.wrapper > input {
    width: 45%;
}

.separator{
}

textarea {
    resize: none;
    width: 93%;
    min-width: 100px;
    height: 40%;
    /**/

}

.reviews{
    width: 100%;

}

#feedback {
    background-color: darkgrey;
    margin-bottom: 5vh;
    width: 42.5%;
    height: 35vh;
    min-width: 200px;
    float: left;
    border-radius: 4px;
}

#feedback:nth-child(2n) {
    margin-left: 5%;
}

#feedback:nth-child(2n-1) {
    margin-left: 5%;
}

#author {
    display: inline-block;
    margin: 10px auto 5px 20px;
}

#date {
    float: right;
    margin: 12px 20px 5px auto;
}

#text {
    margin-top: 10%;
    margin-left: 5%;
    width: 100px;
    height: 16vh;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}
